{% extends 'core/base.html' %} <!--Hereda de la plantilla base-->

{% block title %}
El Sótano/Carta
{% endblock %}

{% block content %} <!--Sobreescribe el bloque content de la plantilla base-->
<main>
    <div class="animate__animated animate__backInUp" id="seccion3">
        <article class="pagCarta">
            <h1>BEBIDAS CON ALCOHOL</h1>
            <div>
                <h3>Coco Spice</h3>
                    <p>$1800</p>
            </div>
            <div>
                <h3>Tequila Sunrise</h3>
                    <p>$1900</p>
            </div>
            <div>
                <h3>Cuba Libre</h3>
                    <p>$1700</p>
            </div>
            <div>
                <h3>Old Fashioned</h3>
                    <p>$1700</p>
            </div>
            <div>
                <h3>Whiskey Sour</h3>
                    <p>$1700</p>
            </div>
            <div>
                <h3>Moscow Mule</h3>
                    <p>$1700</p>
            </div>

        </article>

        <article class="pagCarta">
            <h1>BEBIDAS SIN ALCOHOL</h1>
            <div>
                <h3>Gaseosas</h3>
                <p>Gaseosas de línea Coca Cola. Sprite, Fanta, Coca Cola. Opcional sin azúcar
                    <br>Chica 500ml $500
                    <br>Grande 1lt" $1000</p>
            </div>
            <div>
                <h3>Limonada</h3>
                <p>Jugo de límon, con agregado de menta, jengibre y leve almibar. Opcional sin agregados dulces
                    <br>Vaso  $250
                    <br>Jarra de 1lt $800</p>
            </div>
            <div>
                <h3>Jugos de Fruta/ Agua</h3>
                <p>Jugos de fruta natural(naranja, frutilla, durazno) con agua. Opcional agua con gas. 
                    <br>Vaso $500
            </div>
        </div>
    <section class="animate__animated animate__backInUp" id="seccion4">
        <article class="pagCarta">
            <h1>COMIDAS</h1>
            <div>
                <h3>Calamar Frito</h3>
                <p>Servido con Salsa de tomate
                    <br>$1100</p>
            </div>
            <div>
                <h3>Papas fritas Italianas</h3>
                <p>Nuestras fabulosas papas fritas cubiertas con condimentos especiales
                    <br>$1000</p>
            </div>
            <div>
                <h3>Buffalo wings</h3>
                <p>Simple, suave, picante, ajo, parmesano, calipso o salsa barbacoa Jack Daniels
                    <br>$1500</p>
            </div>
            <div>
                <h3>Palitos de Pollo</h3>
                <p>tiras de pechuga ligeramente empanadas... normal, suave, picante, parmesano con ajo, calipso
                    <br>$1600</p>
            </div>
        </article>

        <article class="pagCarta">
            <h1>CAFETERIA</h1>
            <div>
                <h3>Café Latte</h3>
                <p> Café con 40% café de especialidad y leche vaporizada. Opcional leche vegetal y saborización con vainilla.
                    <br>$1000</p>
            </div>
            <div>
                <h3>Café Mocha</h3>
                <p>Café de especialidad con un chocolate en barra derretido.
                    <br>$1200</p>
            </div>
            <div>
                <h3>Matcha Latte</h3>
                <p> Té matcha oriental con proporción de leche vaporizada. 
                    <br>$1500</p>
            </div>
            <div>
                <h3>Café Expresso</h3>
                <p>Café de especialidad intenso
                    <br>$900</p>
            </div>
    </section>
</main>

{% endblock %}