{% extends 'core/base.html' %} 

{% block title %}
Sucursales
{% endblock %}

{% block content %} 
<main class="mainSucursales">
    <p id="weatherParagraph" class="titulo"></p>
    <script>
        fetch('https://api.openweathermap.org/data/2.5/weather?lat=-34.6&lon=-58.3&appid=55f07957c709e674d9a0c404699b3661')
          .then(response => response.json())
          .then(data => {
            const temperature = data.main.temp;   
            const temperatureInCelsius= temperature-273.15    
            const paragraphContent = `La temperatura actual es ${temperatureInCelsius.toFixed(1)}°C.`;
            const weatherParagraph = document.getElementById('weatherParagraph');
            weatherParagraph.textContent = paragraphContent;
            console.log(data);
          })
          .catch(err => {
            const weatherParagraph = document.getElementById('weatherParagraph');
            weatherParagraph.textContent = "Failed to fetch weather data.";
          });
        </script>
    <section class="animate__animated animate__backInUp">
        <div class="ubicacion">
            <div>
                <h3>El Sótano - Suc. Camino</h3>
                <p>Cno. Gral. Manuel Belgrano 7669,
                    <br>J. M. Gutiérrez
                    <br><br>Tel: 4411-2233</p>
            </div>
            <iframe class= "map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3275.1609865757146!2d-58.184500289536786!3d-34.82704467276192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2d9e54b2624e1%3A0x743d2d6cd4b1ec07!2sLa%20Bohemia%20Rest%C3%B3!5e0!3m2!1ses-419!2sar!4v1681333916765!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="ubicacion">
            <div>
                <h3>El Sótano - Suc. Quilmes</h3>
                <p>Lavalle 344
                    <br>Quilmes, Centro
                    <br><br>Tel: 4211-3365
                </p>
            </div>
            <iframe class= "map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52467.872202001505!2d-58.28800560564882!3d-34.72429363600292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32e38e45f5777%3A0x6a86dac21334524f!2sQuilmes%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1685230369600!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="ubicacion">
            <div>
                <h3>El Sótano - Suc. La Plata</h3>
                <p>Calle 7 N3476
                    <br>Ciudad de La Plata
                    <br><br>Tel: 4501-9833</p>
            </div>
            <iframe class= "map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52343.03948982001!2d-57.994456002891496!3d-34.92050121828575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e62b1f0085a1%3A0xbcfc44f0547312e3!2sLa%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1685230478842!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></iframe>
        </div>
        <div class="ubicacion">
            <div>
                <h3>El Sótano - Suc. San Telmo</h3>
                <p>Perú 7669
                    <br>Capital Federal
                    <br><br>Tel: 4411-2233</p>
            </div>
            <iframe class= "map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13133.088996326822!2d-58.3805792619008!3d-34.62255976535052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb2d125e1c01%3A0xacd97607979875ab!2sSan%20Telmo%2C%20CABA!5e0!3m2!1ses-419!2sar!4v1685230522104!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
</main>

{% endblock %}